nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #044A42;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    padding: 10px;
    font-weight: 900;

    position: sticky;
    top: 0;
    
}
nav a{
    text-decoration: none;
    color: #3A9188;
}
nav a:hover{
    color: #B8E1DD;
}
nav .logo{
    font-size:xx-large;
}

nav .others{
    display: flex;
    gap: 15px;
    font-size: large;
}