.question{
    text-align : left;
    border: 1px solid rgba(128, 128, 128, 0.144);
    padding: 10px;
}
.question p{
    font-size: larger;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ques-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ques-section FontAwesomeIcon:hover{
    color: #044A42;
}