.question{
    text-align : left;
    border-radius: 20px;
    padding: 20px;
    background-color: #06283d48;
}
.question p{
    font-size: larger;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.ques-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ques-section FontAwesomeIcon:hover{
    color: #044A42;
}
